.form-group {
  margin: 0px 0px 5px 0px;

  & + .form-group {
    margin: 15px 0px;
  }

  input, textarea, label {
    width: 100%;
    display: block;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    height: 35px;
  }

  textarea {
    height: 145px;
  }  
}
